<div class="grid-container">
  <h1 class="titulo">Livros Obrigatórios de Cada Vestibular</h1>
  <mat-grid-list cols="2" rowHeight="175px">
    <mat-grid-tile
      *ngFor="let card of vestibularCards$ | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title class="mat-card-titulo">{{
            card.universidade
          }}</mat-card-title>
          <mat-card-subtitle>2022</mat-card-subtitle>
          <img mat-card-md-image src="{{ card.img }}" />
        </mat-card-title-group>
        <mat-card-content class="card_descricao"
          >{{ card.descricao }}
        </mat-card-content>
        <mat-chip-list aria-label="Fish selection"
          ><mat-chip color="accent">
            <button
              mat-button
              class="more-button"
              (click)="openDialog(card.universidade)"
            >
              <a routerLink="#">Seleção de Livros </a>
            </button>
          </mat-chip>
        </mat-chip-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
