.grid-container {
  margin: 20px;
}

.dashboard-card {
  text-align: right;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

img{
  position: left;
   max-width: 400px;
  margin-bottom: 8px;
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}

.example-header-image {
  background-color: black;
  background-image: url('../../assets/imagens/logoBS1.png');
  background-size: cover;
}
