<mat-card>
<div *ngIf="psicologiaTable$ | async as psicologiaTable">
  <mat-toolbar color="accent">

    <span>Principais livros de Psicologia</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="psicologiaTable" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let psico"> {{psico.autor}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let psico"> {{psico.title}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let psico"> {{psico.numero}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
    <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
  </table>
</div>
</mat-card>
