<mat-grid-list cols="1" [rowHeight]="'100px'" [gutterSize]="'1px'">
  <mat-grid-tile [colspan]="1" [rowspan]="1">Cadastro no BookShelf</mat-grid-tile>
  <mat-card>
    <img mat-card-image src="../../assets/imagens/cover2.png" alt="Cover do Cadastro de Usuários">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="stepOne">
    <form [formGroup]="stepOne">
      <ng-template matStepLabel>Name</ng-template>
      <mat-form-field appearance="fill" >
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)] ="nomeuser" placeholder="Entre com seu nome" formControlName="nome"required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
 </form>
  </mat-step>

  <mat-step [stepControl]="steptwo">
    <form [formGroup]="steptwo">
    <ng-template matStepLabel>E-mail</ng-template>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="emailuser" placeholder="Email de Login" formControlName="email">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="stepthree">
  <form [formGroup]="stepthree">
  <ng-template matStepLabel>Senha</ng-template>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="senhauser" placeholder="Entre com senha" formControlName="senha" type="password">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="stepfour">
    <form [formGroup]="stepfour" >
    <ng-template matStepLabel>Confirme sua senha</ng-template>
      <mat-form-field>
        <mat-label>Confirme sua senha</mat-label>
        <input matInput [(ngModel)]="confirmarSenhauser" placeholder="Confirme a senha anterior" formControlName="confirmaSenha" type="password">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button color="accent" (click)="enviaCadastro()" type="submit">Cadastrar</button>
        <button mat-button color="warn" (click)="stepper.reset()">Fechar</button>
    </div>
  </mat-step>
</mat-stepper>
  </mat-card>
</mat-grid-list>
