
    <span><h1>Bem-Vindo(a) ao Bookshelf</h1></span>

<div class="container">
  <mat-card class="user_left">
        <div *ngIf="user$ | async as user" class="user_right">
          <mat-card  class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
              </div>
              <mat-card-title> {{user.displayName}}</mat-card-title>
              <mat-card-subtitle>User</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="textcentro">
             <span><mat-icon> vpn_key</mat-icon></span> <p>{{user.uid}} </p>
            </div>
            <mat-divider></mat-divider>
            <div class="textcentro">
              <span><mat-icon>alternate_email</mat-icon></span> <p> {{user.email}} </p>
            </div>
            <mat-divider></mat-divider>

            <div class="example-cardbtn">
              <mat-card-actions>

                <button mat-button>SAIR</button>

                <button mat-button>Alterar Senha</button>
              <mat-chip color="accent" selected>
                <button mat-button>Premium</button>
              </mat-chip>
              </mat-card-actions>
            </div>
          </mat-card>
    </div>



  </mat-card>
</div>
