
    <span><h1>Bem-Vindo(a) ao Bookshelf</h1></span>

<div class="container">
  <mat-card class="user_left">
        <div *ngIf="user$ | async as user" class="user_right">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
              </div>
              <mat-card-title> {{user.displayName}}</mat-card-title>
              <mat-card-subtitle>User</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="textcentro">
             <span><mat-icon> vpn_key</mat-icon></span> <p>{{user.uid}} </p>
            </div>
            <mat-divider></mat-divider>
            <div class="textcentro">
              <span><mat-icon>alternate_email</mat-icon></span> <p> {{user.email}} </p>
            </div>
            <mat-card-content>

            </mat-card-content>
          </mat-card>
    </div>

  </mat-card>

</div>
